<footer>
<mat-toolbar fxLayoutAlign="center center" class="footerTop"> Back to top </mat-toolbar>
<mat-toolbar  class="footer">
<div  fxFlex=100>
<div fxLayout="row" fxLayoutAlign="space-around start">
    <div fxFlex=25>
        <ul>
            <li class="footerTabHeading">Get to Know Us</li>
            <li>About Us</li>
            <li>Careers</li>
            <li>Press Releases</li>
            <li>Gift a Smile</li>
        </ul>
    </div>
    <div fxFlex=25>
        <ul>
            <li class="footerTabHeading">Connect with Us</li>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
        </ul>
    </div>

    <div fxFlex=25>
        <ul>
            <li class="footerTabHeading">HELP</li>
            <li>Payments</li>
            <li>Shipping</li>
            <li>FAQ</li>
        </ul>
    </div>
    <div fxFlex=25>
        <div class="footerTabHeading">Registered Office Address:</div>
        <div>
            Mostlikers Private Limited, <br>

Outer Ring Road,<br>

Bengaluru, 560103

        </div>
    </div>
</div>
    

</div>
</mat-toolbar>
</footer>
