<div class="headerMenu">
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <img src="assets/img/mostlikers.png">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <input type="text" placeholder="search here">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">Login / Signup </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="50px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">All Menu </mat-grid-tile>
    </mat-grid-list>
</div>