<!-- New slider -->
<div class="newslider">
    <div fxFlex=100>
      <ngx-slick-carousel class="carousel" 
      #slickModal="slick-carousel" 
      [config]="slideConfig" 
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.img }}" alt="" width="100%" height="500px">
      </div>
      </ngx-slick-carousel>
  </div>
</div>

<!-- Categor banner -->
<div fxLayout="row" fxLayoutAlign="space-around center" >
  <div fxFlex=100>
    <mat-grid-list class="categoryBanner" cols="4" rowHeight="2:1">
      <mat-grid-tile>
       <div class="bannerAds">
          <img src="assets/slider/ads6.webp" width="100%"  height="184px" alt="">
       </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="bannerAds">
         <img src="assets/slider/ads10.webp" width="100%"  height="184px"  alt="">
        </div>
       </mat-grid-tile>
       <mat-grid-tile>
        <div class="bannerAds">
           <img src="assets/slider/ads8.webp" width="100%"  height="184px"  alt="">
        </div>
       </mat-grid-tile>
       <mat-grid-tile>
        <div class="bannerAds">
         <img src="assets/slider/ads9.webp" width="100%"  height="184px"  alt="">
        </div>
       </mat-grid-tile>
       <mat-grid-tile>
        <div class="bannerAds">
         <img src="assets/slider/ads11.webp" width="100%"  height="184px"  alt="">
        </div>
       </mat-grid-tile>
       <mat-grid-tile>
        <div class="bannerAds">
           <img src="assets/slider/ads7.webp" width="100%"  height="184px"  alt="">
        </div>
       </mat-grid-tile>
       <mat-grid-tile>
        <div class="bannerAds">
           <img src="assets/slider/ads.jpg" width="100%"  height="184px"  alt="">
        </div>
       </mat-grid-tile>
       <mat-grid-tile>
        <div class="bannerAds">
           <img src="assets/slider/ads5.webp" width="100%"  height="184px" alt="">
        </div>
       </mat-grid-tile>
    </mat-grid-list>
   </div>
</div>








<div fxLayout="" fxLayoutAlign="space-around center" >
   <div fxFlex=100>
      <mat-card class="mat-elevation-z0 " style="margin:2em; text-align: center;">
            <mat-card-title>New Arrivals</mat-card-title>
            <mat-card-content>
               There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
            </mat-card-content>
      </mat-card>
     <ngx-slick-carousel class="carousel" 
     #slickModal="slick-carousel" 
     [config]="productSlideConfig" 
     (init)="slickInit($event)"
     (breakpoint)="breakpoint($event)"
     (afterChange)="afterChange($event)"
     (beforeChange)="beforeChange($event)">
     <div ngxSlickItem *ngFor="let productSlide of productSlides" class="slide">        
           <mat-card class="mat-elevation-z0" style="margin:0.5em; text-align: left;">
           <img mat-card-image  style=" width: 370px; height:475px; object-fit: contain;" src="{{ productSlide.img }}" alt="">
            
            <mat-card-content>
               <span style="float: right;"><mat-icon  aria-hidden="false" aria-label="Shopping">favorite_border</mat-icon></span>

                  Mi LED Smart TV 4A PRO 80 cm (32) with Android
                  <div class="productPricelist">
                     <div class="ProdctPrice">Rs.5000
                     <span style="text-align: right;" class="offerPrice">Rs.5000</span>
                    </div>
                </div>
            </mat-card-content>
            </mat-card>
           <!-- <h6>Mi LED Smart TV 4A PRO 80 cm (32) with Android</h6> 
           <div class="productPricelist">
                <div class="ProdctPrice">Rs.5000
                <span class="offerPrice">Rs.5000</span>
               </div>
           </div> -->
                  
     </div>
     </ngx-slick-carousel>
     
   </div>
 </div>


<div fxLayout="" fxLayoutAlign="space-around center" >
   <div fxFlex=100>
      <mat-card class="mat-elevation-z0 " style="margin:2em; text-align: center;">
            <mat-card-title>Trending Product</mat-card-title>
            <mat-card-content>
               There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
            </mat-card-content>
      </mat-card>
     <ngx-slick-carousel class="carousel" 
     #slickModal="slick-carousel" 
     [config]="productSlideConfig" 
     (init)="slickInit($event)"
     (breakpoint)="breakpoint($event)"
     (afterChange)="afterChange($event)"
     (beforeChange)="beforeChange($event)">
     <div ngxSlickItem *ngFor="let productTrend of productTrends" class="slide">        
           <mat-card class="mat-elevation-z0" style="margin:0.5em; text-align: left;">
           <img mat-card-image  style=" width: 370px; height:475px; object-fit: contain;" src="{{ productTrend.img }}" alt="">
            
            <mat-card-content>
               <span style="float: right;"><mat-icon  aria-hidden="false" aria-label="Shopping">favorite_border</mat-icon></span>

                  Mi LED Smart TV 4A PRO 80 cm (32) with Android
                  <div class="productPricelist">
                     <div class="ProdctPrice">Rs.5000
                     <span style="text-align: right;" class="offerPrice">Rs.5000</span>
                    </div>
                </div>
            </mat-card-content>
            </mat-card>
           <!-- <h6>Mi LED Smart TV 4A PRO 80 cm (32) with Android</h6> 
           <div class="productPricelist">
                <div class="ProdctPrice">Rs.5000
                <span class="offerPrice">Rs.5000</span>
               </div>
           </div> -->
                  
     </div>
     </ngx-slick-carousel>
     
   </div>
 </div>
 
<!-- End category banner -->







