<mat-grid-list cols="1" rowHeight="250px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">

        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
            </mdb-carousel-item>
        </mdb-carousel>


    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">Category Banner </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Category Banner </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Category Banner </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Category Banner </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Category Banner </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Category Banner </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Category Banner </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Category Banner </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Category Banner </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Category Banner </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Category Banner </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Category Banner </mat-grid-tile>
</mat-grid-list>