<div  fxLayout="row" fxFlex="100" >
    <div fxFlex="80"  class="cartProduct">
       <h5 class="paddingBorder">Shopping Cart</h5> 
       <div class="cartItems paddingBorder">
          <div fxFlex="20">
             <img alt="" src="assets/product/smal1.jpg">
          </div>
          <div fxFlex="60">
             <a href="#">
                <h6>Aeuui Workout Tops for Women Mesh Racerback Tank Yoga Shirts Gym Clothes Black</h6>
             </a>
             <div class="size">
                size : XL
             </div>
             <div class="productPrice">
                <span class="orignalPrice">₹199</span>  
                <span class="priceOffer">₹999</span>  
                <span class="priceDiscount">80%</span>                 
             </div>
             <div class="productQuantity">
                <button class="cartButtons" disabled=""> – </button>
                <div class="cartTextBoxdiv">
                   <input type="text" value="1" class="cartTextBox">
                </div>
                <button class="cartButtons"> + </button>
             </div>
          </div>
          <div class="text-align-right" fxFlex="20">
             Remove
          </div>
       </div>
       <div class="cartItems paddingBorder">
         <div fxFlex="20">
            <img alt="" src="assets/product/smal1.jpg">
         </div>
         <div fxFlex="60">
            <a href="#">
               <h6>Aeuui Workout Tops for Women Mesh Racerback Tank Yoga Shirts Gym Clothes Black</h6>
            </a>
            <div class="size">
               size : XL
            </div>
            <div class="productPrice">
               <span class="orignalPrice">₹199</span>  
               <span class="priceOffer">₹999</span>  
               <span class="priceDiscount">80%</span>                 
            </div>
            <div class="productQuantity">
               <button class="cartButtons" disabled=""> – </button>
               <div class="cartTextBoxdiv">
                  <input type="text" value="1" class="cartTextBox">
               </div>
               <button class="cartButtons"> + </button>
            </div>
         </div>
         <div class="text-align-right" fxFlex="20">
            Remove
         </div>
      </div>
       <!-- Cart item page start -->
       
       <!-- Cart item page start -->
    </div>
    <div fxFlex="20"fxLayoutAlign="end">
      <!-- <h5>Price Details</h5>  -->
      
         <h5 class="paddingBorder">Price Details</h5> 
         <div fxFlex="100" fxLayout="column" >
            <div fxFlex=60>Price (6 items)</div>
            <div class="text-align-right" fxFlex="30">₹ 1,230 </div> 
         </div> 
         <div fxFlex="100" class="paddingBorder">
            <div fxFlex="50">Delivery Fee</div>
            <div class="text-align-right" fxFlex="50">Free </div> 
         </div> 
         <div fxFlex="100" class="paddingBorder">
            <div fxFlex="50"><h5>Total</h5></div>
            <div class="text-align-right" fxFlex="50"><h5>₹ 1,230</h5></div> 
         </div> 
         <div class="productCart paddingBorder">                
            <button>Place Order</button> 
         </div>
      
    </div>
 </div>