.cart{
   
        max-width: 1260px;
        margin: 0 auto;
    padding: 20px;
    background: #f1f3f6;
}
.cartProduct{
    box-sizing: border-box;
    background: white;
    
    padding-top: 10px;

    // height: 200px;
    margin: 15px
}

.cartContent{
    font-size: 18px;
    line-height: 56px;
    padding: 0 24px;
    font-weight: 500;

}
.cartItems{
    margin: 20px;
}
.cartCheckout {
    box-sizing: border-box;
    background: white;
    padding-top: 10px;
    margin: 15px;
    padding: 20px;
    
    
}
