.shippingPage {
  display: flex;
  justify-content: center;
}

.formfooter {
    padding: 20px;
}

.formfooter button {
    color: #FFFFFF;
    background-color: rgb(24, 24, 24);
    border-width: 0;
    width: 61%;
    font-size: 16px;
    height: 38px;    
}
.shippingDetails{
    margin: 10px;
}